.resume{
    background-color: black;
    color: white;
}

.resume .resume-download-box{
    position: relative;
    height: 80vh;
}

.resume-download-box-wrapper{
    position: absolute;
    width: 60%;
    height: 60%;
    top: 18%;
    left: 20%;
    border: 2px solid rgb(0, 202, 202);
    border-radius: 10px;
}

.resume-header{
    position: relative;
    text-align: center;
    top: 20%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
}

.resume-download-button{
    position: relative;
    background-color: red;
    top: 60%;
}

.resume-download-button button{
    position: absolute;
    width: 25%;
    height: 60px;
    left: 38%;
    outline: none;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    background-color: black;
    border: 1px solid cyan;
    color: cyan;
    cursor: pointer;
    transition: 500ms;
}

.resume-download-button button:hover{
    background-color: cyan;
    color: black;
}