.project{
    position: relative;
    background-color: black;
    color: white;
    height: 200vh;
}

.project .head{
    position: absolute;
    left: 12%;
    top: 6%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 250%;
    border-bottom: 1px solid white;
}

.project .project-wrapper{
    background-color: black;
    position: relative;
    top: 12%;
    height: 85%;
}

.project .project-wrapper .project-box-wrapper{
    position: absolute;
    width: 30%;
    height: 35%;
    top: 10%;
    left: 5%;
    border-right: 1px solid gray;
    transition: 1s;
}

.project .project-wrapper .project-box-wrapper:hover{
    border: 1px solid cyan;
}

.project .project-wrapper .project-wrapper-box1{
    left: 35%;
}

.project .project-wrapper .project-wrapper-box2{
    left: 65%;
    border-right: 0px solid black;
}

.project .project-wrapper .project-wrapper-box3{
    left: 20%;
    top: 45%;
}

.project .project-wrapper .project-wrapper-box4{
    left: 50%;
    top: 45%;
    border-right: 0px solid black;
}

.project .project-wrapper .project-box-wrapper .project-box{
    position: absolute;
    color: white;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    text-align: center;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
}


.project .project-wrapper .project-box-wrapper .project-box .stock-prediction-img{
    position: absolute;
    width: 95%;
    top: 33%;
    left: 2%;
}

.project .project-wrapper .project-box-wrapper .project-box .sign-laguage-detection-img{
    position: absolute;
    width: 95%;
    top: 50%;
    left: 2%;
}

.project .project-wrapper .project-box-wrapper .project-box .number{
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    top: 6%;
    left: 1%;
}

.project .project-wrapper .more-projects{
    position: absolute;
    border: 1px solid cyan;
    height: 5%;
    width: 11%;
    top: 86%;
    left: 45%;
}

.project .project-wrapper .more-projects p{
    position: relative;
    text-align: center;
    color: white;
    top: 32%;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 120%;
}

.project .project-wrapper .more-projects:hover{
    box-shadow: -1px -1px 12px cyan;
}


@media screen and (max-width: 600px) {

    .project{
        height: 360vh;
    }

    .project .head{
        top: 1%;
    }

    .project .project-wrapper{
        position: relative;
        top: 5%;
    }
    .project .project-wrapper .project-box-wrapper{
        position: relative;
        left: 0;
        top: 0%;
        width: 100%;
        height: 19%;

    }

    .project .project-wrapper .project-box-wrapper .project-box{
        position: absolute;
        height: 90%;
        top: 0%;
    }

    .project .project-wrapper .more-projects{
        height: 2%;
        width: 50%;
        top: 95%;
        left: 25%;
        box-shadow: -1px -1px 12px darkcyan;
    }
}
